@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background: #f7f8f9;
  padding: 32px;
  text-align: center;
}

.header-container {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header .header-title {
  margin-bottom: 16px;
  font-weight: 700;
}

main {
  padding: 48px 20px;
}

.main-container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a.btn {
  display: inline-block;
  padding: 18px 32px;
  background: #464655;
  color: white;
  text-decoration: none;
  border: 2px solid #464655;
  transition: all 0.3s ease-in-out;
}

a.btn:focus {
  outline: none;
}

a.btn:hover {
  background: white;
  color: #464655;
  border-color: #464655;
}

.table {
  border-collapse: collapse;
}

.table tr td,
.table tr th {
  padding: 10px 16px;
  border: 1px solid #64646461;
  vertical-align: top;
}

.table tr th {
  padding: 16px;
  white-space: nowrap;
  text-align: left;
  background: #464655;
  color: white;
}

table tr td:nth-child(3),
table tr td:nth-child(5) {
  white-space: nowrap;
}
