@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background: #f7f8f9;
  padding: 32px;
  text-align: center;
}

.header-container {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header .header-title {
  margin-bottom: 16px;
  font-weight: 700;
}

main {
  padding: 48px 20px;
}

.main-container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a.btn {
  display: inline-block;
  padding: 18px 32px;
  background: #464655;
  color: white;
  text-decoration: none;
  border: 2px solid #464655;
  transition: all 0.3s ease-in-out;
}

a.btn:focus {
  outline: none;
}

a.btn:hover {
  background: white;
  color: #464655;
  border-color: #464655;
}

.table {
  border-collapse: collapse;
}

.table tr td,
.table tr th {
  padding: 10px 16px;
  border: 1px solid #64646461;
  vertical-align: top;
}

.table tr th {
  padding: 16px;
  white-space: nowrap;
  text-align: left;
  background: #464655;
  color: white;
}

table tr td:nth-child(3),
table tr td:nth-child(5) {
  white-space: nowrap;
}

.update-form .main-container {
  max-width: 700px;
}

.form {
  padding: 50px;
  background: white;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.form-field label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
}

.form-field:not(:last-child) {
  margin-bottom: 24px;
}

.form-field input {
  padding: 12px 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
  font-size: 16px;
}

.form-field textarea {
  padding: 12px 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
  font-size: 16px;
  min-height: 80px;
  resize: none;
}

.form-field:last-child {
  text-align: right;
}

.form-field .btn {
  display: inline-block;
  padding: 18px 32px;
  background: #464655;
  color: white;
  text-decoration: none;
  border: 2px solid #464655;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  cursor: pointer;
}

.form-field .btn:focus {
  outline: none;
}

.form-field .btn:hover {
  background: white;
  color: #464655;
  border-color: #464655;
}
